:host(app-layout-header) {
  padding-top: 0;
  /*padding-bottom: 3em;*/
  display: grid;
}
/*semantic.css*/
.ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
	border-left: NONE;
}
